.custom-bg{
    background: #4893bf !important;
    color: #ffffff;
    margin-bottom: 0;
    border-bottom: 1px solid #cccccc;
}
#chat-body-errors {
    font-weight: bold;
    font-size: 11px;
}
/*added custom css*/
#chat-tune {
    display: none;
}
#chat_box {
    transition: all .3s ease-in-out;
}

#chat_box .panel {
    display: inline-block;
    margin-right: 0;
    margin-bottom: -35px !important;
    overflow: hidden;
    width: 252px;
}

.media-box {
}

/*#chat_box .panel:last-child {*/
    /*z-index: 999999999;*/
/*}*/

.chat-icon i {
    font-size: 14px;
    padding: 0px 3px;
    color: #ffffff;
    cursor: pointer;
}

.chat-icon i:last-child {
    padding: 0px;
    padding-left: 3px;
}

.chat_frame {
    position: fixed;
    bottom: 35px;
    right: 5px;
    z-index: 999999999;
    color: #000;
}

#open_chat_list {
    color: #fff;
}

#open_chat_list:focus {
    color: #fff;
}

#open_chat_list span {
    /*font-size: 30px;*/
}

#chat_list {
    position: fixed;
    top: 61px;
    bottom: -16px;
    right: -280px;
    width: 280px;
    border: none;
    height: calc(100vh - 61px);
    margin-bottom: 0;
    transition: all .3s ease-in-out;
}

#chat_list.in {
    right: 0px;
}

#chat_list.in + #chat_box {
    margin-right: 280px;
}

#chat_list + #chat_box {
    margin-right: 0px;
}

#chat_list .panel-heading {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    border-radius: 0px !important;
}

.chat-icon {
    margin-left: 5px;
    margin-right: 5px;
    text-shadow: 0px 1px 0px #000;
}

.chat-body {
    width: 250px;
    height: 280px;
    /* height: 250px; */
    /* overflow-y: scroll; */
}
.conversation_chat {
    height: 650px;
    overflow-y: scroll;
}

.chat-input-box {
    background: #ffffff;
    padding: 0;
    border: none;
}

.chat-input-box input {
    font-size: 13px;
    font-family: -webkit-body;
    border: none;
    padding: 20px;
    background-color: hsl(0, 0%, 96%);
    box-shadow: none;
}

.chat-body .text {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.chat-body .text > p:first-of-type {
    width: 100%;
    margin-top: 0;
    margin-bottom: auto;
    line-height: 13px;
    font-size: 12px;
}

.chat-body .text-l > p:last-of-type {
    width: 100%;
    text-align: right;
    color: silver;
    margin-bottom: -7px;
    margin-top: auto;
}

.chat-body .text-r > p:last-of-type {
    width: 100%;
    text-align: left;
    color: silver;
    margin-bottom: -7px;
    margin-top: auto;
}

.chat-body .text-l {
    float: left;
    padding-right: 5px;
}

.chat-body .text-r {
    float: right;
    padding-left: 5px;
}

.chat-body .avatar {
    /*display: flex;*/
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 18%; */
    /* float: left; */
    /* padding-right: 10px; */
    height: 40px;
    width: 40px;
}

.chat-body .chat-message {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 88%;
    border-radius: 5px;
    padding: 10px 3px;
    display: flex;
    box-shadow: 0 2px 3px 0 rgba(219, 219, 219, 0.7);
}

.chat-body .message-right {
    float: right;
    background: #418cb9;
    color: #fff;
    margin-right: 26px;
}

.chat-body .message {
    /* float: left; */
    background: #f3f6f6;
    margin-left: 26px;
}
.chat-body .message .avatar {
    background: #f3f6f6;
    position: absolute;
    top: 10px;
    left: -4px;
    height: 25px;
    width: 25px;
}
.chat-body .message-right .avatar {
    /* background: #f3f6f6; */
    position: absolute;
    top: 8px;
    right: -2px;
    height: 25px;
    width: 25px;
}

.chat-body .chat-body > div:last-of-type {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
}

.chat-body ul {
    width: 107%;
    list-style-type: none;
    padding: 0px 12px;
    display: flex;
    height: 100%;
    overflow-y: scroll;
    flex-direction: column;
    overflow-x: hidden;
}
.chat-body ul li {
    position: relative;
}

.chat-body .message:before {
    width: 0;
    height: 0;
    content: "";
    top: -10px;
    left: -12px;
    position: relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #f3f6f6 transparent transparent;
}

.chat-body .message-right:after {
    width: 0;
    height: 0;
    content: "";
    top: 7px;
    right: 20px;
    position: absolute;
    border-style: solid;
    border-width: 11px 11px 0 0;
    border-color: #418cb9 transparent transparent transparent;
}

.chat-body input:focus {
    outline: none;
}

.chat-body ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}

.chat-body ::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}

.chat-body :-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}

.chat-body :-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}

.chat-body .chat-icon i {
    font-size: 10px;
    padding: 0px 3px;
    color: #000;
    cursor: pointer;
}

.chat_badge {
    display: inline-block;
    cursor: pointer;
    padding: 2px 10px;
    font-size: 12px;
    margin-right: 10px;
    overflow: hidden;
}

.badge-chat {
    position: absolute;
    top: -9px;
    /*left: 0px;*/
    background: #fa3c22 !important;
    color: #FFF;
    font-size: 7px !important;
    /* border-radius: 4px 4px 0px 0px; */
    padding: 1px;
    margin-left: -10px;
}

.minimize-chatbox {
    padding: 9px 10px !important;
    border-radius: 0px !important;
    cursor: pointer;
    font-size: 12px !important;
    margin-bottom: 0px !important;
    overflow: hidden;
    height:34px;
    }

.chat-setting-dropdown {
    position: absolute;
    top: 6%;
    right: auto !important;
    left: 0;
    z-index: 1000;
    min-width: 120px;
}
.chat-setting-dropdown > li > a{
    display: block;
    padding: 2px 9px;
    clear: both;
    font-weight: normal;
    line-height: 1.52857143;
    color: #333;
    white-space: nowrap;
    font-size: 12px;
    text-shadow:none;
}
.media-box-heading strong {
    /*text-transform: lowercase;*/
    color: #3a3a3a;
    font-weight: 100;
}
.thumb48  {
    width: 48px !important;
    height: 48px !important;
}